<?xml version="1.0" ?>
<phpunit bootstrap="./vendor/autoload.php" colors="true" stopOnFailure="true" verbose="true">
    <testsuites>
        <testsuite name="php_unit_test">
            <directory>    
                tests
            </directory>    
        </testsuite>    
    </testsuites>
</phpunit>